body {
  margin: 0;
  font-family: Arial;
  background: #f4f4f4;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  background: #222;
}

nav .logo {
  color: white;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

.home {
  text-align: center;
  margin-top: 100px;
}

.btn {
  padding: 10px 20px;
  background: #007BFF;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}